{% extends "book/base.html" %}
{% import '_macro/site.html' as site with context %}

{% block title %}{{category.label}}_{{super()}}{% endblock %}

{% block main %}

		{{site.menu('a%d' % category.id)}}

	<div class="breadcrumbs">
		当前位置：<a href="/book/a{{category.id}}/">{{category.label}}</a> &raquo;
			<a href="{{author.get_absolute_url()}}">{{author.name}}</a>
	</div>
	
	<div class="FR" style="width:770px;">
		<div class="bookIndexTip">
			本站现收录 <b>{{author.name}}</b> 作品 <b>{{books|length}}</b> 部
		</div>
		<div class="bookList">
			<table cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<th>小说名</th>
					<th width="90">系列</th>
					<th width="200">主角</th>
					<th width="60" style="text-align:right;">字数</th>
					<th width="40" style="text-align:center;">评分</th>
					<th width="70" style="text-align:right;">最后更新</th>
				</tr>
				{% for b in books -%}
				<tr>
					<td class="title"><a href="{{b.get_absolute_url()}}" target="_blank">{{b.title}}</a>{%if b.is_complete%} 完本{%endif%}</td>
					<td class="series">{{b.series|escape}}</td>
					<td class="part">{{b.part and b.part|escape or '未知'}}</td>
					<td class="length">{{b.length|intcomma}}</td>
					<td class="rate" style="color:{%if b.rate_average>0%}red{%elif b.rate_average<0%}green{%else%}#ddd{%endif%}">{{b.rate_average}}</td>
					<td class="updated_at">{{b.updated_at|timeordate}}</td>
				</tr>
				{%- endfor %}
			</table>
		</div>
	</div>


	<div class="FL" style="width:200px;">
		<div class="subBlock">
			<h4>{{author.name}}人气作品</h4>
			<ul>
				{% cache 3600 'author_books_subBlock_rank_author' author.id %}
				{% for b in author.book_set.filter(views__gt=10).order_by('-views')[:30] %}
					<li><a href="{{b.get_absolute_url()}}" target="_blank">{{b.title}}</a></li>
				{% else %}
					<li>-- 暂无 --</li>
				{% endfor %}
				{% endcache %}
			</ul>
		</div>
	</div>
	
	<div class="clear"></div>

{% endblock %}
