{% extends "book/base.html" %}
{% from 'django/macro.html' import csrf_token with context %}

{% block title %}下载TXT小说《{{book.title}}》{% endblock %}


{% block main %}

	
	{% call site.menu('book') %}
			{% object website.apps.book.models.Subarea as Subarea %}
			<ul class="w2">
				<li><a href="/book/">全部</a></li>
			{% cache 86400 'book_show_site_menu' %}
			{% for s in Subarea.objects.all() -%}
				<li><a href="{{s.get_absolute_url()}}">{{s.label}}</a></li>
			{% endfor %}
			{% endcache %}
			</ul>
		{% endcall %}
	
	
	<div class="breadcrumbs">
		当前位置：<a href="{{subarea.get_absolute_url()}}">{{subarea.label}}</a>
			&raquo; <a href="{{category.get_absolute_url()}}">{{category.label}}</a>
			&raquo; <a href="{{book.get_absolute_url()}}">{{book.title}}</a>
			&raquo; <a href="/book/{{book.id}}/download/">下载TXT小说</a>
	</div>
	<div class="FR" style="width:650px;">
		<h2>下载TXT小说《{{book.title}}》</h2>
		{% if key %}
			<p class="MT20">下载 TXT 格式（适合手机、MP4等掌上设备）：
			 <a href="/book/{{book.id}}/download/gbk/{{book.title|urlencode}}.txt?key={{key}}">GB2312/GBK 编码（推荐）</a>
			 &nbsp; 或 &nbsp; <a href="/book/{{book.id}}/download/utf-8/{{book.title|urlencode}}.txt?key={{key}}">UTF-8 编码</a>
			</p>
		{% else %}
			<div class="MT20">
				<h4>输入验证码获取下载地址 </h4>
				<form action="" method="post">
					{{csrf_token()}}
					{% if form.errors %}{{form.errors}}{%endif%}
					<img id="captcha" src="{%url captcha%}?{% now "YmdHis" %}" align="middle" />
					{{form.captcha}}
					<button type="submit">获取下载地址</button>
				</form>
			</div>
		{% endif %}
	</div>
	
	<div class="FL" style="width:300px;">
	</div>
	
	<div class="clear"></div>
	<div id="ads_book_download_bottom"></div>

{% endblock %}

