{% extends "book/base.html" %}
{% import '_macro/html.html' as html %}
{% from 'django/macro.html' import csrf_token with context %}

{% block title %}{{book.title}}_{{super()}}{% endblock %}

{% block extrahead -%}
	<meta name="title" content="{{book.title}}" />
	<meta name="keywords" content="{{book.title}},{{book.author_name}}" />
	{{html.js('jquery.ratestar')}}
{%- endblock %}


{% block main %}

	
	{% call site.menu('book') %}
			{% object website.apps.book.models.Subarea as Subarea %}
			<ul class="w2">
				<li><a href="/book/">全部</a></li>
			{% cache 86400 'book_show_site_menu' %}
			{% for s in Subarea.objects.all() -%}
				<li><a href="{{s.get_absolute_url()}}">{{s.label}}</a></li>
			{% endfor %}
			{% endcache %}
			</ul>
		{% endcall %}
	
	
	<div class="breadcrumbs">
		当前位置：<a href="{{subarea.get_absolute_url()}}">{{subarea.label}}</a>
			&raquo; <a href="{{category.get_absolute_url()}}">{{category.label}}</a>
			&raquo; <a href="{{book.get_absolute_url()}}">{{book.title}}</a>
			（书号：{{book.id}}）
			<a onclick="Web.copyToClipBoard('http://www.51yuedu.com/book/{{book.id}}/');return false;" href="#copyurl">[复制地址]</a>
	</div>
	
	<div class="FL" style="width:710px;">
		<div class="bookShow">
			<div class="bookShowTitle">
				<h1>{{book.title}}</h1>
				<div class="bookShowTitleOption">
					<span>作者：
					{%- if book.author_id -%}
						<a href="/book/author/{{book.author_id}}/" target="_blank">{{book.author_name}}</a>
					{%- else -%}
						{{book.author_name}}
					{%- endif -%}
					</span>
					<span>更新时间：{{book.updated_at|localize}}</span>
					字数：<b>{{book.length|intcomma}}</b>
					<br/>
					<span>已有 <b>{{book.views|intcomma}}</b> 人读过此书</span>
					<span>
						{%if request.user.is_authenticated() and request.user.book_favorite_set.filter(book=book).exists() %}
							你已收藏本小说
						{%else%}
							<a class="favorite" href="#" onclick="Web.action2('book-favorite',{id:{{book.id}}});return false;">收藏本小说</a>
						{%endif%}
					</span>
					<a class="download" href="/book/{{book.id}}/download/" title="下载TXT小说《{{book.title}}》">下载本小说TXT版</a>
					{% if request.user.is_authenticated() and request.user.is_admin -%}
						<a class="manage" href="/book/manage/{{book.id}}/" style="color:red;margin-left:20px;">管理</a>
					{%- endif %}
				</div>
			</div>
			
			<div class="bookShowVol">
				{% for v in vol %}
				<div class="title">
					<h3>第{{v}}卷{% if vol_name[v] %} - {{vol_name[v]}}{% endif %}</h3>
					<span>&nbsp;</span>
				</div>
				<div class="chapter">
					<ul>
						{% for c in chapter[v] -%}
							<li><a href="/book/chapter/{{c.id}}/" target="_blank">{{c.title}}</a></li>
						{%- endfor %}
					</ul>
					<div class="clear"></div>
				</div>
				{% endfor %}
			</div>
			
		</div>
	</div>
	
	<div class="FR" style="width:260px;">
		<div class="simpleBlock">
			<h4>给本小说评分</h4>
			<div class="bookRateScore">
				平均分为 <b>{{book.rate_average}}</b> - 共由 <b>{{book.rate_count|intcomma}}</b> 位会员评出
			</div>
			<!-- 评分操作 -->
			{%- if request.user.is_authenticated() -%}
					{%- if user_rate -%}
						<div class="bookRate">你在 {{user_rate.created_at|timeordate}} 给此小说评了 {{user_rate.rate}} 分</div>
					{%- else -%}
						<div class="bookRate" id="book_rate_star"></div>
						<script type="text/javascript">
							$('#book_rate_star').ratestar({
								api:'book-set_rate', id:{{book.id}},
								confirm_fun:function(s){return '你确定要给此小说评为 ' + s + ' 分吗？';}
							});
						</script>
					{%- endif -%}
			{%- else -%}
				<div class="bookRate"><a href="/my/login/" class="href_login">登录后可以进行评分</a></div>
			{%- endif -%}
		</div>
		<div class="simpleBlock">
			<h4>给本小说的最新评论</h4>
			{% for r in book_review.order_by('-id')[:10] -%}
			<div class="bookReview">
				<div class="user"><img src="/public/avatar/20/{{r.user.id}}.png" /> {{r.user.username}} {{r.created_at|localize}}</div>
				<p>{{r.content[:60]|escape}}{%if r.content|length > 60%}...{%endif%}</p>
			</div>
			{% else %}
			<div class="bookReview">
				<div class="NOSET">-- 还无人评论 --</div>
			</div>
			{%- endfor %}
			<div class="bookReviewShow"><a href="/book/{{book.id}}/review/">&gt; 查看全部评论</a></div>
			<div class="bookReviewNew">
				{%- if request.user.is_authenticated() -%}
					<form action="/book/{{book.id}}/review/new/" method="post">
						{{csrf_token()}}
						<textarea name="content"></textarea>
						<button type="submit">发表评论</button>
					</form>
				{%- else -%}
					<div class="bookRate"><a href="/my/login/" class="href_login">登录后可以进行评论</a></div>
				{%- endif -%}
			</div>
		</div>
	</div>
	
	<div class="clear"></div>
	

{% endblock %}

