/* $Id$ */
@CHARSET "UTF-8";

/* ******************************* */

.wrap {display:block;margin:0 auto;width:980px;}
.clear {clear:both; *display:inline;}


/* footer */
.footer {height:30px;line-height:30px;margin-top:20px;margin-bottom:10px;padding:0 5px;border-top:1px solid #E0E8F3;}
.footer, .footer *, .footer a, .footer a:VISITED {color:#999;}
.footerCopyright {float:left;}
.footerICP {float:left;margin-left:20px;}
.footerMenu {float:right;word-spacing:10px;}

input#id_captcha {width:70px;}

.MT10 {margin-top:10px}
.MT20 {margin-top:20px}
.M20 {margin:20px}
.M10 {margin:10px}
.M5 {margin:5px}
.P10 {padding:10px}
.P20 {padding:20px}
.PT10 {padding-top:10px}
.MB10 {margin-bottom:10px}
.PB10 {padding-bottom:10px}
.MT5 {margin-top:5px}
.PT5 {padding-top:5px}
.FL {display:block;float:left;}
.FR {display:block;float:right;}
.NOSET {text-align:center;padding:20px 0;font-size:14px;color:#999;}
a.DELETE {color:#E21B04;background:url(/public/images/icons/16/delete.gif) no-repeat left;padding-left:15px;}
a.DELETE:VISITED, a.DELETE:ACTIVE {color:#E21B04;}
a.MSG {background:url(/public/images/icons/16/message.gif) no-repeat left;padding-left:20px;}
a.AFRIEND {background:url(/public/images/icons/16/add_friend.gif) no-repeat left;padding-left:20px;padding-top:1px;}
a.REJ {background:url(/public/images/icons/16/reject.gif) no-repeat left;padding-left:18px;}

.formError {display:inline;background:url(/public/images/error_12px.gif) no-repeat 5px 0px;color:red;padding-left:20px;}
.formHelp {color:#555;}
.errorlist li {color:red;}
.formBlockError {display:block;color:red;margin-bottom:10px;}

.TableForm {}
.TableForm th, .TableForm td {vertical-align:top;}
.TableForm th {text-align:right;padding-top:2px;color:#666;}
.TableForm td {padding-bottom:8px;}
.TableForm td.t input {width:220px;font-size:12px;border:1px solid #BDCADB;height:18px;line-height:18px;}
.TableForm td.t textarea {width:400px;font-size:12px;border:1px solid #BDCADB;height:100px;}

.pagination * {line-height:120%;}
.pagination {background: white;margin:5px 0;}
.pagination a, .pagination span {margin-right: 1px; padding:0 5px;}
.pagination span.disabled {color: #999;}
.pagination span.current {font-weight: bold;background:#6D84B4;color: white; }
.pagination a:hover, .pagination a:focus {color: #003; }
.pagination:after {content:".";display:block;height:0;clear:both;visibility:hidden;}



.breadcrumbs {font-size:14px;margin:12px 0;word-spacing:5px;}
.complete {background:#E9F4E9;padding:2px 10px;margin-bottom:10px;color:#0C7823}
h5.t,h4.t {border-bottom:1px solid #CCCACA;padding:1px 0;}



.siteHeader {height:50px;}
.siteHeaderLogo {float:left;}
.siteHeaderSearch {float:right;border:1px solid #EEEDED;background:#F5F5F4;padding:3px;margin-top:5px;}
.siteHeaderSearch_text {width:300px;font-size:14px;height:22px;border:1px solid #D9D9D9;vertical-align:middle;}
.siteHeaderSearch_button {font-size:14px;font-weight:bold;padding:0 10px;border:1px solid #BD9E43;height:25px;background:url(/public/images/bg/site_search_button.png) repeat-x;word-spacing:2px;vertical-align:middle;}
.siteHeaderSearch_item {border:1px solid #D9D9D9;border-right:0;height:26px;vertical-align:middle;background:#fff url(/public/images/bg/site_search_item.png) no-repeat right;padding-right:15px;font-size:14px;}
#siteHeaderSearch_item {display:none; background:#fff;position:absolute;margin-top:3px;margin-left:3px;z-index:1000;border:1px solid #333;font-size:14px;}
#siteHeaderSearch_item a {border-bottom:1px dotted #eee;padding:3px 8px;display:block;}
#siteHeaderSearch_item a, #siteHeaderSearch_item a:VISITED, #siteHeaderSearch_item a:HOVER {text-decoration:none;color:#333;}
#siteHeaderSearch_item a:HOVER {background-color:#999;color:#fff;}


.siteMenu {}
.siteMenu_main {height:30px;padding-left:20px;background:#A6171D;}
.siteMenu_main li {float:left;font-size:14px;font-weight:bold;line-height:30px;font-family:simsun;}
.siteMenu_main li.sp {width:30px;color:#BE5D66;font-weight:normal;text-align:center;}
.siteMenu_main li.account {float:right;font-size:12px;font-weight:normal;color:#fff;padding-right:20px;}
.siteMenu_main li a {padding:0 12px;display:block;float:left;height:30px;}
.siteMenu_main li.account a {padding:0;display:inline;float:none;text-decoration:underline;}
.siteMenu_main li a, .siteMenu_main li a:VISITED, .siteMenu_main li a:HOVER {color:#fff;}
.siteMenu_main li.s {background:url(/public/images/bg/site_menu_s.png) no-repeat left;padding-left:3px;}
.siteMenu_main li.s a {background:url(/public/images/bg/site_menu_s.png) no-repeat right;padding-right:14px;}
.siteMenu_main li.s a, .siteMenu_main li.s a:VISITED {color:#6A7FAF}
.siteMenu_sub {background:url(/public/images/bg/site_menu_sub.png) repeat-x bottom;border-bottom:1px solid #EEE;padding:5px 0;}
.siteMenu_sub ul {margin:0 20px;}
.siteMenu_sub li {float:left;line-height:20px;height:20px;width:72px;font-size:14px;}
.siteMenu_sub ul.w2 li {width:50px;}
.siteMenu_sub ul.w2 a, .siteMenu_sub ul.w2 a:VISITED {color:black;}
.siteMenu_sub ul.w2 li.s {font-weight:bold;color:red;}
.siteMenu_sub ul.w2 li.s a, .siteMenu_sub ul.w2 li.s a:VISITED {color:red;}




.indexStatus {height:30px;font-size:14px;line-height:30px;}
.indexSmallBlock {float:left;width:235px;margin-right:13px;overflow:hidden;margin-bottom:20px;}
.indexSmallTitle {margin-bottom:5px;font-size:20px;height:20px;margin-top:10px;}
.indexSmallBlockContent {border-bottom:1px solid #E6E6E6;}
.indexSmallBlockContent .title {height:24px;background:#F4F4F4;line-height:24px;padding:0 5px;}
.indexSmallBlockContent .title h4 {float:left;line-height:24px;}
.indexSmallBlockContent .title a {display:block;float:right;line-height:24px;}
.indexSmallBlockContent li {height:24px;line-height:24px;background:url(/public/images/ico_01.gif) no-repeat 5px;padding-left:20px;font-size:12px;white-space:nowrap;overflow:hidden;}
.indexSmallBlockContent li a.c, .indexSmallBlockContent li a.c:VISITED {color:#aaa;}
.indexSmallBlockContent li a {display:block;float:left;}
.indexSmallBlockContent li a.c {margin-right:5px;}
.indexSmallBlockContent li small {display:block;float:right;color:#aaa;}

.bookCategories {border-bottom:1px solid #eee;padding:5px 0;background:#F5F5F5;}
.bookCategories li {float:left;height:20px;line-height:20px;padding:0 10px;}
.bookCategories a, .bookCategories a:VISITED {color:black;}
.bookCategories li.s {font-weight:bold;color:red;}
.bookCategories li.s a, .bookCategories li.s a:VISITED {color:red;}


.bookList {border-top:1px solid #A9C9EA;margin-top:10px;}
.bookList table {border-bottom:1px solid #aaa;}
.bookList td, .bookList th {text-align:left;padding:0 8px;height:30px;}
.bookList td {border-top:1px dashed #eee;}
.bookList th {background:#F0F7FE;}
.bookList .category, .bookList .category a, .bookList .category a:VISITED {color:#999;}
.bookList .title {font-size:14px;}
.bookList .author {}
.bookList .length {text-align:right;}
.bookList .rate {text-align:center;font-weight:bold;}
.bookList .updated_at {text-align:right;}



.subBlock {border:1px solid #eee;}
.subBlock h4 {background:#F6F5F5;padding:3px 8px;}
.subBlock li {padding:0 10px;line-height:22px;height:22px;background:url(/public/images/ico_01.gif) no-repeat 10px;padding-left:25px;white-space:nowrap;overflow:hidden;}
.subBlock li a {display:block;float:left;}
.subBlock li small {display:block;float:right;}

.simpleBlock {margin-bottom:20px;}
.simpleBlock h4 {border-bottom:1px solid #E6E7E2;}


.bookShow {border:1px solid #E6E7E2;padding:8px 10px;border-bottom-width:2px;}
.bookShowTitle {height:35px;}
.bookShowTitle h1 {float:left;margin-top:3px;}
.bookShowTitleOption {display:block;float:left;margin-left:20px;}
.bookShowTitleOption span {margin-right:20px;}
.bookShowTitleOption .download {color:red}

.bookShowVol {margin-top:10px;background:#efefef;padding:5px 8px;}
.bookShowVol .title {height:30px;}
.bookShowVol .title h3 {margin-left:30px;margin-top:5px;float:left;}
.bookShowVol .title span {display:block;float:right;line-height:30px;padding-right:30px;font-family:simsun;}
.bookShowVol .chapter {background:#fff;padding:15px 30px;margin:5px 0;}
.bookShowVol .chapter li {float:left;width:300px;height:30px;line-height:30px;font-size:14px;white-space:nowrap;overflow:hidden;border-bottom:1px dotted #eee;}

.bookRate {text-align:center;margin:5px 0;padding:5px 0;background:#FFFBF0;}
.bookRateScore {font-size:14px;line-height:30px;text-align:center;margin-top:5px;}
.bookRateScore b {font-size:18px;color:highlight;}

.accountRegister {width:700px;margin:30px auto;}
.accountRegister h4 {color:#D12828;margin-bottom:25px;font-size:22px;}
.accountRegister #id_username,
.accountRegister #id_password,
.accountRegister #id_password_confirmation,
.accountRegister #id_email,
.accountRegister #id_captcha
{line-height:18px;font-size:18px;}


.accountLogin {width:700px;margin:40px auto;}
.accountLogin h4 {color:#D12828;margin-bottom:25px;font-size:22px;}
.accountLogin #id_username,
.accountLogin #id_password
{line-height:18px;font-size:18px;}
.accountLogin form {float:left;}
.accountLoginTip {float:right;font-size:14px;line-height:30px;}

.accountIndex {margin:30px 0;}
.accountIndexMenu {float:left;width:180px;font-size:14px;padding-left:20px;}
.accountIndexMenu p {margin-bottom:15px;}
.accountIndexMain {float:right;width:760px;}

.accountContentTopMenu {height:21px;border-bottom:2px solid #FAEEE4;margin-top:20px;background:#FFF6EE;}
.accountContentTopMenu li {float:left;padding-left:4px;}
.accountContentTopMenu li a {display:block;float:left;border-bottom:none;padding:0 10px;height:22px;line-height:20px;}
.accountContentTopMenu li a, .accountContentTopMenu li a:VISITED {color:#333;}
.accountContentTopMenu li a.s, .accountContentTopMenu li a.s:VISITED {background-color:#FAEEE4;font-weight:bold;}


.bookReview {border-bottom:1px dashed #eee;padding:5px 0;}
.bookReview .user {height:22px;line-height:22px;margin-bottom:5px;color:#999;}
.bookReview .user img {vertical-align:middle;}
.bookReviewNew {margin-top:10px;}
.bookReviewNew textarea {display:block;width:250px;height:80px;line-height:120%;}
.bookReviewShow {text-align:right;}
.bookReview_new {margin-top:20px;}
.bookReview_new textarea {display:block;width:600px;height:180px}
.bookReview_new button {margin-top:15px;font-size:14px;padding:3px 10px;margin-left:10px;}
.bookReview_list {margin-top:20px;}
.bookReview_list .avatar {float:left;width:50px;}
.bookReview_list .content {float:left;width:600px;}
.bookReview_list .info {background:#FFE7FB;padding:2px 10px;}
.bookReview_list .content p {margin:5px 10px;}


.bookReadPointList {margin-top:10px;}
.bookReadPointList table {border-bottom:1px dashed #eee;}
.bookReadPointList td, .bookReadPointList th {text-align:left;padding:0 8px;height:28px;}
.bookReadPointList td {border-top:1px dashed #eee;}
.bookReadPointList th {background:#F0F7FE;}
.bookReadPointList td.title {font-size:14px}


.searchResultsList b {font-weight:normal;color:red;}


.aboutFeedback {margin:40px 0;margin-left:120px;}
.aboutFeedback h2 {margin-bottom:20px;}
.aboutFeedback #id_name, .aboutFeedback #id_contact {width:180px;}
.aboutFeedback #id_content {width:520px;height:200px;}


.bookManage {}
.bookManage #id_title {width:200px;}
.bookManage #id_vol_number {width:40px;text-align:center;padding:0;}
.bookManage #id_content {width:600px;height:300px;}


.indexCategory {border:1px solid #F1E3C8;}
.indexCategory dt, .indexCategory dd {line-height:25px;height:25px;}
.indexCategory dt {float:left;width:40px;padding-left:10px;background-color:#FDF9EE}
.indexCategory dd {float:left;}
.indexCategory dd.clear {float:none;clear:left;height:0;line-height:0;border-top:1px solid #F1E3C8;}

