{% extends "account/setting/base.html" %}
{% from 'django/macro.html' import csrf_token with context %}


{% block account_main %}
	<h2>我的个人设置</h2>
	
	{{_menu('password')}}
	
	<div class="M20">
			<form action="" method="post">
				{% if form.is_valid() %}
				  <div class="complete">密码更改完成</div>
				  <script>Web.slideTimeout('.complete');</script>
				{% endif %}
				{{csrf_token()}}
				<table class="TableForm">
		      <tr>
		        <th>原始密码：</th>
		        <td class="t">{{form.old_password}}
		        	{% if form.old_password.errors %}<div class="formError">{{ form.old_password.errors.as_text() }}</div>{% endif %}
		          <div class="formHelp">输入你现在使用的登录密码</div></td>
		      </tr>
		      <tr>
		        <th>新密码：</th>
		        <td class="t">{{form.new_password}}
		        	{% if form.new_password.errors %}<div class="formError">{{ form.new_password.errors.as_text() }}</div>{% endif %}
		          <div class="formHelp">请输入6至20个字符</div></td>
		      </tr>
		      <tr>
		        <th>确认密码：</th>
		        <td class="t">{{form.new_password_confirmation}}
		        	{% if form.new_password_confirmation.errors %}<div class="formError">{{ form.new_password_confirmation.errors.as_text() }}</div>{% endif %}
		          <div class="formHelp">重复上面输入的新密码</div></td>
		      </tr>
		      <tr>
		        <td></td>
		        <td><button type="submit">保存</button></td>
		      </tr>
		    </table>
			</form>
	</div>
{% endblock %}
