{% import '_macro/html.html' as html -%}
{% import '_macro/site.html' as site with context -%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}51yuedu.com{% endblock %}</title>
{{html.css_base()}}{{html.js_base()}}
{% block extrahead %}{% endblock %}
</head>
<body>
	<div class="wrap MT10">{{site.header()}}</div>
	<div class="wrap">{% block main %}{% endblock %}</div>
	<div class="wrap">{{site.footer()}}</div>
</body>
</html>